{% extends 'base/question.html' %}
{% load static %}
{% load filters %}

{% block links %}
<link rel="stylesheet" href="{% static 'styles/apps/asks/ask.css' %}">
<style>
    .app{display: none;}
    .visible{display: inline-block;}
    .invisible{display: none;}
</style>
{% endblock %}

{% block content %}

<nav class="sub-nav">
    <div class="sub-link" focus="perguntar">
        <a href="#perguntar">Perguntar</a>
    </div>
    <div class="sub-link" focus="minhas-perguntas">
        <a href="#minhas-perguntas">Minhas perguntas</a>
    </div>
</nav>
<div class="app">
    <h1 class="poppins">Faça sua pergunta</h1>
    <form class="question" method="POST">
        {% csrf_token %}
        <input type="hidden" name="username" id="id_username" value="{{username}}">
        <textarea name="question" id="id_question" placeholder="O que deseja saber?" spellcheck="false"></textarea>
        <div class="question-footer">
            <div class="username">
                <img src="{% static 'assets/apps/asks/global/user.svg' %}" alt="user-img">
                <span>{{username}}</span>
            </div>
            <div class="division-for-buttons">
                <select>
                    <option value="0">Selecionar tema</option>
                    {% if themes %}
                    {% for theme in themes %}
                    <option value="1">{{ theme.name }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
                <input type="hidden" name="theme" id="id_theme" value="is_none">
                <button type="submit" class="send">Enviar</button>
            </div>
        </div>
    </form>
    <h2 class="poppins">Enviadas recentemente</h2>
    {% include 'apps/asks/includes/ask/_questions.html' %}
</div>

<div class="app">
    {% include 'apps/asks/includes/_select_theme.html' %}
    {% include 'apps/asks/includes/ask/_questions.html' %}
</div>
{% endblock %}

{% block javascript %}
<script src="{% static  'scripts/apps/asks/selectInput.js' %}"></script>

{% endblock %}