{% extends 'base/question.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'styles/apps/asks/ask.css' %}">
<link rel="stylesheet" href="{% static 'styles/apps/asks/vote.css' %}">
<link rel="stylesheet" href="{% static 'styles/apps/asks/records.css' %}">
<style>
    .app{display: none;}
    .visible{display: inline-block;}
    .invisible{display: none;}
</style>
{% endblock %}

{% block content %}


<nav class="sub-nav">
    <div class="sub-link" focus="perguntas">
        <a href="#perguntas">Perguntas respondidas</a>
    </div>
    <div class="sub-link" focus="enquetes">
        <a href="#enquetes">Resultado das enquetes</a>
    </div>
</nav>
<div class="app">
    <select class="select-main">
        <option value="0">Selecionar tema</option>
        <option value="1">Aleatório</option>
        <option value="2">Finalização</option>
    </select>
    <div class="question my-questions">
        <p class="question-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas expedita sit quod, assumenda, porro voluptate aliquam itaque magni, laborum commodi maxime ipsa facere. Id molestias ipsam similique adipisci, perferendis alias.
        </p>
        <div class="survey-option">
            <span>A) Lorem isum</span>
            <span>
                65%
            </span>
        </div>
        <div class="survey-option">
            <span>B) Não sei dizer</span>
            <span>15%</span>
        </div>
        <div class="survey-option">
            <span>C) O que mesmo</span>
            <span>14%</span>
        </div>
        <div class="survey-option">
            <span>D) Last option</span>
            <span>6%</span>
        </div>
        <div class="question-footer">
            <div class="clock icon-text" style="display: block; margin-left: auto;">
                <img src="{% static 'assets/apps/asks/global/clock.png' %}" alt="clock-img">
                <span>22:30</span>
            </div>
        </div>
    </div>
</div>
<div class="app">
    <select class="select-main">
        <option value="0">Selecionar tema</option>
        <option value="1">Aleatório</option>
        <option value="2">Finalização</option>
    </select>
    <div class="question my-questions">
        <p class="question-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas expedita sit quod, assumenda, porro voluptate aliquam itaque magni, laborum commodi maxime ipsa facere. Id molestias ipsam similique adipisci, perferendis alias.
        </p>
        <div class="survey-option">A) Lorem isum mesmo</div>
        <div class="survey-option">B) Não sei dizer</div>
        <div class="survey-option">C) O que mesmo</div>
        <div class="survey-option">D) Last alternative</div>
        <div class="question-footer">
            <div class="clock icon-text" style="display: block; margin-left: auto;">
                <img src="{% static 'assets/apps/asks/global/clock.png' %}" alt="clock-img">
                <span>22:30</span>
            </div>
        </div>
    </div>
</div>


{% endblock %}