{% extends 'base/question.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'styles/apps/asks/ask.css' %}">
<link rel="stylesheet" href="{% static 'styles/apps/asks/vote.css' %}">
<link rel="stylesheet" href="{% static 'styles/apps/asks/settings.css' %}">
<style>
    .app{display: none;}
    .visible{display: inline-block;}
    .invisible{display: none;}
</style>
{% endblock %}

{% block content %}

<nav class="sub-nav">
    <div class="sub-link" focus="temas">
        <a href="#temas">Temas</a>
    </div>
    <div class="sub-link" focus="sala">
        <a href="#sala">Sala</a>
    </div>
</nav>
<div class="app">
    <h1>Temas</h1>
    {% if not admin %}
    {% for theme in themes %}
    <div class="theme">
        <span>{{ theme.name }}</span>
    </div>
    <br>
    {% endfor %}
    {% else %}
    {% for theme in themes %}
    <div class="theme">
        <span>{{ theme.name }}</span>
        <div class="icon-text">
            <img src="{% static 'assets/apps/asks/global/trash.svg' %}" alt="trash-img">
            <span>Excluir</span>
        </div>
    </div>
    <br>
    {% endfor %}
    {% endif %}

    {% if admin %}
    <h2>Criar temas</h2>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <input type="text" name="theme" id="id_theme" placeholder="Tema">
        <button type="submit" class="button-blue-white">Adicionar Tema</button>
    </form>
    {% endif %}
</div>
<div class="app">
    {% if not admin %}
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <input type="password" name="password" id="id_password" placeholder="Senha de admin">
        <button class="button-blue-white">Virar admin</button>
    </form>
    {% endif %}
    <a href="{% url 'logout' %}"><button class="button-blue-white button-red-white">Sair da sala</button></a>
</div>
    

{% endblock %}