{% extends 'base/question.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'styles/apps/asks/vote.css' %}">
<link rel="stylesheet" href="{% static 'styles/apps/asks/ask.css' %}">
<style>
    .app{display: none;}
    .visible{display: inline-block;}
    .invisible{display: none;}
</style>
{% endblock %}

{% block content %}
<main>
    <nav class="sub-nav">
        <div class="sub-link" focus="perguntas">
            <a href="#perguntas">Perguntas</a>
        </div>
        <div class="sub-link" focus="enquetes">
            <a href="#enquetes">Enquetes</a>
        </div>
        <div class="sub-link" focus="ranking">
            <a href="#ranking">Ranking</a>
        </div>
    </nav>
    <div class="app">
        <div class="question my-questions">
            <p class="question-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas expedita sit quod, assumenda, porro voluptate aliquam itaque magni, laborum commodi maxime ipsa facere. Id molestias ipsam similique adipisci, perferendis alias.
            </p>
            <div class="question-footer">
                <div class="clock icon-text">
                    <img src="{% static 'assets/apps/asks/clock.png' %}" alt="clock-img">
                    <span>22:30</span>
                </div>
                <ul class="edit-question icon-text">
                    <li class="icon-text">
                        <img src="{% static 'assets/apps/asks/edit.png' %}" alt="edit-img">
                        <span>Editar</span>
                    </li>
                    <li class="icon-text">
                        <img src="{% static 'assets/apps/asks/trash.svg' %}" alt="trash-img">
                        <span>Excluir</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="question my-questions">
            <p class="question-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas expedita sit quod, assumenda, porro voluptate aliquam itaque magni, laborum commodi maxime ipsa facere. Id molestias ipsam similique adipisci, perferendis alias.
            </p>
            <div class="question-footer">
                <div class="clock icon-text">
                    <img src="{% static 'assets/apps/asks/clock.png' %}" alt="clock-img">
                    <span>22:30</span>
                </div>
                <ul class="edit-question icon-text">
                    <li class="icon-text">
                        <img src="{% static 'assets/apps/asks/edit.png' %}" alt="edit-img">
                        <span>Editar</span>
                    </li>
                    <li class="icon-text">
                        <img src="{% static 'assets/apps/asks/trash.svg' %}" alt="trash-img">
                        <span>Excluir</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="question my-questions">
            <p class="question-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas expedita sit quod, assumenda, porro voluptate aliquam itaque magni, laborum commodi maxime ipsa facere. Id molestias ipsam similique adipisci, perferendis alias.
            </p>
            <div class="question-footer">
                <div class="clock icon-text">
                    <img src="{% static 'assets/apps/asks/clock.png' %}" alt="clock-img">
                    <span>22:30</span>
                </div>
                <ul class="edit-question icon-text">
                    <li class="icon-text">
                        <img src="{% static 'assets/apps/asks/edit.png' %}" alt="edit-img">
                        <span>Editar</span>
                    </li>
                    <li class="icon-text">
                        <img src="{% static 'assets/apps/asks/trash.svg' %}" alt="trash-img">
                        <span>Excluir</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="app">B</div>
    <div class="app">C</div>
</main>
{% endblock %}