{% extends 'base/question.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'styles/apps/asks/ask.css' %}">
<link rel="stylesheet" href="{% static 'styles/apps/asks/vote.css' %}">
<style>
    .app{display: none;}
    .visible{display: inline-block;}
    .invisible{display: none;}
</style>
{% endblock %}

{% block content %}

<nav class="sub-nav">
    <div class="sub-link" focus="perguntas">
        <a href="#perguntas">Perguntas</a>
    </div>
    <div class="sub-link" focus="enquetes">
        <a href="#enquetes">Enquetes</a>
    </div>
    <div class="sub-link" focus="ranking">
        <a href="#ranking">Ranking</a>
    </div>
</nav>
<div class="app">
    <select class="select-main">
        <option value="0">Selecionar tema</option>
        <option value="1">Aleatório</option>
        <option value="2">Finalização</option>
    </select>
    
    <div class="question my-questions">
        <p class="question-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas expedita sit quod, assumenda, porro voluptate aliquam itaque magni, laborum commodi maxime ipsa facere. Id molestias ipsam similique adipisci, perferendis alias.
        </p>
        <div class="question-footer">
            <div class="clock icon-text">
                <img src="{% static 'assets/apps/asks/global/clock.png' %}" alt="clock-img">
                <span>22:30</span>
            </div>
            <ul class="edit-question icon-text">
                <li class="icon-text">
                    <span>DOWN</span>
                    <img src="{% static 'assets/apps/asks/vote/deslike.png' %}" alt="deslike">
                </li>
                <li class="icon-text">
                    <span>UP</span>
                    <img src="{% static 'assets/apps/asks/vote/like.png' %}" alt="like">
                </li>
                <li class="icon-text seta-last">
                    <span>Passar</span>
                    <img src="{% static 'assets/apps/asks/vote/seta.png' %}" alt="seta">
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="app">
    <select class="select-main">
        <option value="0">Selecionar tema</option>
        <option value="1">Aleatório</option>
        <option value="2">Finalização</option>
    </select>
    <div class="question my-questions">
        <p class="question-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas expedita sit quod, assumenda, porro voluptate aliquam itaque magni, laborum commodi maxime ipsa facere. Id molestias ipsam similique adipisci, perferendis alias.
        </p>
        <div class="survey-option">
            <span>A) Lorem isum</span>
            <span>
                65%
            </span>
        </div>
        <div class="survey-option">
            <span>B) Não sei dizer</span>
            <span>15%</span>
        </div>
        <div class="survey-option">
            <span>C) O que mesmo</span>
            <span>14%</span>
        </div>
        <div class="survey-option">
            <span>D) Last option</span>
            <span>6%</span>
        </div>
        <div class="question-footer">
            <div class="clock icon-text" style="display: block; margin-left: auto;">
                <img src="{% static 'assets/apps/asks/global/clock.png' %}" alt="clock-img">
                <span>22:30</span>
            </div>
        </div>
    </div>
</div>
<div class="app">
    <select class="select-main">
        <option value="0">Selecionar tema</option>
        <option value="1">Aleatório</option>
        <option value="2">Finalização</option>
    </select>
    <div class="question my-questions">
        <p class="question-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas expedita sit quod, assumenda, porro voluptate aliquam itaque magni, laborum commodi maxime ipsa facere. Id molestias ipsam similique adipisci, perferendis alias.
        </p>
        <div class="question-footer">
            <div class="clock icon-text">
                <img src="{% static 'assets/apps/asks/global/clock.png' %}" alt="clock-img">
                <span>22:30</span>
            </div>
            <ul class="edit-question icon-text">
                <li class="icon-text">
                    <span>100</span>
                    <img src="{% static 'assets/apps/asks/vote/deslike.png' %}" alt="deslike">
                </li>
                <li class="icon-text">
                    <span>512</span>
                    <img src="{% static 'assets/apps/asks/vote/like.png' %}" alt="like">
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static  'scripts/apps/asks/changeVoteImage.js' %}"></script>
<script src="{% static  'scripts/apps/asks/vote.js' %}"></script>
{% endblock %}