#container {
    width: min(90rem, 90%);
    margin: 0 auto;
    margin-top: 2.5rem;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


li{
    list-style: none;
    display: inline;
}

.nav-pc{
    display: inline;
}

.nav-pc a{
    font-size: 1.6rem;
    margin-left: 1rem;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 500;
}

.nav-pc a:active, a[focus="1"], .nav-pc a:hover{
    font-weight: 700;
}

.sub-nav{
    margin-block: 3rem 4.1rem;
    text-align: center;
}

.sub-link{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    width: 35%;
    font-size: 1.5rem;
}

.sub-link a{
    display: block;
    color: var(--black);
}



